.NavbarItems{
    background: rgb(124, 160, 151);
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) inset;
}


.navbar-logo{
    color: #fff;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    color: #D7D9D8
}

.nav-links{
    color:white;
    text-decoration: none;
    font-weight: bold;
}


